body {
    background-color: #FFE9BD;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin-left: 40px;
    text-align: center;
}

.mynavbar {
    background-color: #FFE9BD !important;
}

h1 {
    color: #20A0FF;
    font-size: 80px;
    text-align: center;
}

h2 {
    color: #FC8421;
    font-size: 40px;
}

img {
    width: 80%;
    padding: 10px;
    border-radius: 50px;
}

section {
    padding: 18px;
}

p {
    padding: 2px;
}


#name {
    font-family: 'Homemade Apple', cursive;
    padding: 15px;
}

#favouritetitle {
    color: #FC8421;
    text-align: center;padding-bottom: 50px;
    
}


table,
th,
td {
    border: 1px solid rgb(1, 0, 1);
    padding: 10px;
    text-align: center;
}
table{font-size: 20px;margin-left: auto;margin-right: auto;}

th,
td {
    padding: 15px
}
tr:nth-child(odd){background-color: white;}
th{background-color: #20A0FF;color: white;}

.tablehead{color: white; text-decoration: none; font-weight: bold; }

.rowodd:hover{background-color: #FC8421;}
.roweven:hover{background-color:#FC8421;}

#carouselExample{margin-left: 25% ;margin-right: 25%;}
#carouselExample1{margin-left: 25%;margin-right: 25%;}
#carouselExample2{margin-left: 25%;margin-right: 25%; padding-bottom: 30px;}

#footer {
    position:fixed;
    left:0;
    bottom: 0;
    width: 100%;
    background-color: #FFE9BD;
    color: gray;
    text-align: center;
 }
